*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*home page*/
#face{/*background image with color gradient*/
    background: linear-gradient(rgba(0,0,0,0.5), rgb(235, 162, 28));
    background-attachment:none;
    position:center;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#BDE{/*the bde logo*/
    width: 150px;
    position: absolute;
    top: 4%;
    left: 5%;
    color: white;
    font-size: 25px;
}
/*the home page text and bottom*/
.face-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.face-text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
.face-text p{
    font-size: 20px;
    font-style: italic;
}

.face-btn{
    margin: 70px auto 0;
}
.face-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border-radius: 5%;
    border: .5px solid white;
    position: relative;
    transition: 0.5s;
}
.face-btn a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    border: .5px solid black;
    
}

/*side navigation bar for our menu*/
#sideNav{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -180px;
    top: 0;
    background: rgb(235, 162, 28);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li:hover{
    text-decoration: underline;
}

.connect{
    text-align: center; 
    margin-bottom: 0px; 
      
}
div ul li{
    list-style: none;
}
/*subcribtion bottom*/
.connect li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    border: none; 
    font-weight: bold;
    background: white;
    border-radius: 10%;
    position: relative;
    margin: 0 15px;
    padding: 10px 5px;
    line-height: 60px;
    transition: 0.5s;
    
}.connect a:hover{
    border: .5px solid black;
    font: bold;
    color: white;
    background: black;
    transition: 0.5s;
}
.connect p{
    font-size: 12px;
    text-align: center;
    border: none;
}
.connect p a{
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.connect p a:hover{
    text-decoration: underline;
}
.connect p span{
    width: 20px;
    height: 20px;
}


/*the buy stuff home page bottom*/
#menuBtn{
    width: 50px;
    height: 50px;
    background: rgb(235, 162, 28);
    text-align: center;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
/*media screen in charge of the responsiveness of the site*/
@media screen and (max-width: 770px) {
    .face-text h1{
        font-size: 30px;
    }
    .face-btn a{
        display: block;
        margin: 20px auto;
    }
    #BDE{
        width: 100px;
    }
}


/*event page*/
#event{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.titleText{
    text-align: center;
    padding-bottom: 70px;
}
.titleText p{
    margin: auto;
    font-size: 20px;
    color: orange;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
/* our leaf effect on each slide of the site*/
.titleText p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(orange, white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

}
.titleText h2{
    font-size: 40px;
    font-family: Arial;
}
.event-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-event{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-event img{
    width: 90%;
    height: 90%;
    border-radius: 7px;
}
.overlay{/*effet on each image of the event is done here */
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), orange);
    opacity: 0;
    transition: 1s;
}
.single-event:hover .overlay{
    opacity: 1;
}
.event-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.event-desc P{
    font-size: 20px;
}
.single-event:hover .event-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px) {
    .titleText h2{
        font-size: 25px;
    }
    .single-event{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .event-desc P{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-event:hover .event-desc{
        bottom: 25% !important;
    }

}


/*about*/
#about{
    width: 100%;
    padding: 70px 0;
}
.about-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;  
}
.about-col{/*creating columns of the members of BDE*/
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px rgb(202, 201, 199);
    cursor: pointer;
    transition: transform .5s;
}
.about-col p{
    font-size: 15px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 80px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    font-size: 10px;
    
}
.user-info small:hover{
    text-decoration: underline;
    color: orange;
}
.about-col:hover{
    transform: translateY(-7px);
}
@media screen and (max-width: 770px){
    .about-col{
        flex-basis: 100% ;
    }
    .user img{
        width: 150px;  
    }
    .user-info small{
        font-size: 11px;
        
    }
}



/* footer*/
#contact{
    background: #efefef;
    padding: 40px 0 20px;
    position: relative;
    
}

.contact-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left,.contact-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.contact-right{
    text-align: right;
}
.contact-row h1{
    margin: 10px 0;
}
.contact-left p{
    line-height: 20px;
}
.contact-right h1{
    text-decoration: underline;
}
.contact-right p{
    line-height: 35px;
}
.contact-right p:hover{
    font: bold;
    text-decoration: underline;
}
.contact-right .fa{
    font-size: 20px;
    margin: 5px;
}
.contact-left .fa{
    font-size: 20px;
    margin: 5px;
    color: orange;
}
#map{
    color: green;
}
#paper{
    color: blue;
}
#phone{
    color: blue;
}
.social-links{
    text-align: center;   
}

#instagram{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    cursor: pointer;
    transform: 0.5s;
  }
#google{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transform: 0.5s;
}
#facebk{
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: blue;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    transform: 0.5s;
}
#facebook{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    color: white;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    background-color: blue;
    cursor: pointer;
    transform: 0.5s;
}
#youtube{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    color: white;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    background-color: red;
    cursor: pointer;
    transform: 0.5s;
}
#twitter{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    color: white;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    background-color: blue;
    cursor: pointer;
    transform: 0.5s;
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
}
.contact-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 770px){
    .contact-left,.contact-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .contact-img{
        max-width: 330px;
        top: 20%;
    }
}